body {
  background-color: #eaeaea;
}

.envy-blue {
  color: #8b5cdd;
}
.envy-blue-bg {
  background-color: #8b5cdd;
}

.dark-bg{
  background-color: #252525;
}

.lightgrey-bg{
  background-color: #333333;
}

.text-newgray{
  color: #787878;
}

.button-icons {
  margin-right: -4px;
  flex-shrink: 0;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  z-index: 0;
}

.input-icon:after {
  background-color: red;
  width: 20px;
  hegith: 20px;
}

.login-input::before{
  width: 30px;
  height: 30px;
  background-color: red
}

@tailwind base;
@tailwind components;
@tailwind utilities;
